{$SEHATLINE_DOMAIN}, www.{$SEHATLINE_DOMAIN} {
  encode zstd gzip
  reverse_proxy app:4000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "same-origin"
    -Server
  }

  log {
    output stdout
    format console
  }
}
